# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized

 some of the popular language that Data Scientists use are:
 1. Python
 2. SQL
 3. Java

Some of the commonly used libraries used by Data Scientists include:
  1. NumPy
  2. Matplotlib
  3. Pandas

# Table

|Data Science Tools||Big Data AnalyticS||Geospatial Analysis|
|Time Series Analysis|

# Below are a few examples of evaluating arithmetic expression in Python:

In [8]:
a= ("x+y")
b=("x-y")
c=("x*y")
print(a)
print(b)
print(c)

x+y
x-y
x*y

 This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

 write an expression that converts 200 minutes into hours

This will convert 200 minutes to hours by diving by 60.

In [6]:
h= 200//60
print(h)

3

# OBJECTIVES:

popular language for data science

- Python
- SQL
- Java
- Julia
- Swift

# Author

Umananda Moirangthem,
William Shakespeare,
Charles Dickens,
Jane Austen,